<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>

<body>

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->

	<div class="">Camerieri: lista dei camerieri</div>
	<div class="">
		<a href="#">aggiungi cameriere</a>
	</div>
	<div class="">
		<a href="#">modifica cameriere</a>
	</div>
	<div class="">
		<a href="#">elimina cameriere</a>
	</div>

	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
	<!-- fine FOOTER -->

</body>
</html>
