<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>

<body>

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->
	
	
	<div class="container">
		<h3 class="mb-1">1) aggiungi Sala</h3>

		<!-- inizio FORM -->
		<form class="mb-3" th:action="@{/admin/sala}" method="POST" th:object="${sala}">
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<table>
				<tr>
					<td>Nome:</td> 
					<td><input type="text" th:field="*{nome}" required/></td> 
						<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</tr>
				<tr>
					<td>Descrizione:</td>
					<td><input type="text" th:field="*{descrizione}" required/></td>
					<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
				</tr>
				<tr>
					<td><button type="submit">Registra</button></td>
				</tr>
			</table>
		</form>
		<!-- fine FORM -->
		
		
		
		<h3>2) VISUALIZZAZIONE</h3>
	<ul>
		<li th:each="sala : ${sale}">
		<p th:text="${sala.nome}">Sala1</p>
		<a th:href="@{'/sala/delete/' + ${sala.id}}">Elimina</a>
		</li>
	</ul>

	</div>
	
<!-- 	<div class="">
		<a th:href="@{'/sala/delete/' + ${sala.id}}">elimina sala</a>
	</div>
	 -->
	
	

	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->
	
	

</body>
</html>
