<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>

<body>

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->

	<div class="">birre: lista dei birre</div>
	<div class="">
		<a th:href="@{/admin/birra}">aggiungi birra</a>
	</div>
	<div class="">
		<a th:href="@{/}">modifica birra</a>
	</div>
	<div class="">
		<a th:href="@{/}">elimina birra</a>
	</div>

	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
	<!-- fine FOOTER -->

</body>
</html>
