<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/baseAdmin.html :: headerfiles(title='Homepage')"></head>

<body>

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->
	
    pulsante che mostra ogni ordinazione di un tavolo ed elimina le ordinazioni una volta pagato

	<!-- inizio FOOTER -->
	<footer th:replace="fragments/baseAdmin.html :: footer"></footer>
	<!-- fine FOOTER -->
	
</body>
</html>
