<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>

<body>

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->
	
	<div class="container mb-3">
		<ul>
			<li class="p-1"><a th:href="@{/admin/gestisciPagamenti}">gestisci Pagamenti</a></li>
			<li class="p-1"><a th:href="@{/admin/gestisciCamerieri}">gestisci Camerieri</a></li>
			<li class="p-1"><a th:href="@{/admin/gestisciTavoli}">gestisci Tavoli</a></li>
			<li class="p-1"><a th:href="@{/admin/gestisciBirre}">gestisci Birre</a></li>
			<li class="p-1"><a th:href="@{/admin/gestisciSale}">gestisci Sale</a></li>
		</ul>
	
	</div>
	
  
	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->
	
</body>
</html>
