<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Base</title>
  <link rel="stylesheet" href="style.css">

</head>
<body>

  <!-- navbar -->
  <header>
    <nav>
      <ul>
        <li><a class="p-1" href="#">home</a></li>
        <li><a class="p-1" href="#">home</a></li>
        <li><a class="p-1" href="#">home</a></li>
        <li style="float:right"><a class="p-1" href="#">login</a></li>
      </ul>
    </nav>
  </header>


  <!-- footer -->
  <footer>
    <div class="col-100">
      <div class="row">
        <div class="col-50">
          <a href="">home</a>
          <a href="#">chi siamo</a>
        </div>
        <div class="col-50">
          <a href="">home</a>
          <a href="#">chi siamo</a>
        </div>
        <div class="col-100">
          <p>Grazie per essere passati nella nostra birreria</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
