<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>

<body>

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->
	
	<div class="container">
	
		<h3 class="mb-2">aggiungi birre all'ordinazione</h3>
		
		<form action="#" th:action="@{/cameriere/ordinazione}" th:object="${ordinazione}" method="post">
			<table>
				<tr>
					<td>
						<label>Scelta</label>
					</td>
					<td>
						<select multiple th:field="*{birre}" required>	 
							<th:block th:each="singolaBirra : ${birre}">
								<option th:text="${singolaBirra.nome}" th:value=${singolaBirra.id} />
							</th:block>		
						</select>
					</td>
				</tr>
				<tr>
					<td><label>nota</label></td>
					<td><input type="text" placeholder="nota" th:field="*{nota}"> </td>
				</tr>
				

			</table>
			<button type="submit">Conferma</button>
		</form>
		
		
			 
		
	
	</div>



	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

</body>
</html>
