<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>

<body>

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->
	
	<div class="container">
	
		<h3 class="mb-2">1) Fai un'ordinazione</h3>
		
		<form class="mb-3" action="#" th:action="@{/cameriere/ordinazione}" th:object="${ordinazione}" method="post">
			<table>
				<tr>
					<td>
						<label for="cameriere-select">Cameriere:</label> 
						 <select th:field="*{cameriere}" id="cameriere-select" required>
							<th:block th:each="cameriereSelezionato : ${camerieri}">
								<option	th:text="${cameriereSelezionato.nome}" th:value=${cameriereSelezionato.id} />
							</th:block> 
						</select>
					</td>
				</tr>
				
				<tr>
					<td>
						<label for="tavolo-select">Tavolo:</label> 
						 <select th:field="*{tavolo}" id="tavolo-select" required>
							<th:block th:each="tavoloSelezionato : ${tavoli}">
								<option	th:text="${tavoloSelezionato.numeroTavolo}" th:value=${tavoloSelezionato.id} />
							</th:block> 
						</select>
					</td>
				</tr>
				
				<tr>
					<td>
						<label for="birra-select">Birra:</label> 
						 <select th:field="*{birre}" id="birra-select" required>
							<th:block th:each="birraSelezionata : ${birreDaMostrare}">
								<option	th:text="${birraSelezionata.nome}" th:value=${birraSelezionata.id} />
							</th:block> 
						</select>
					</td>
				</tr>
				
				<tr>
					<td><label>nota</label></td>
					<td><input type="text" placeholder="nota" th:field="*{nota}" required/> </td>
				</tr>
				

			</table>
			<button type="submit">Conferma</button>
		</form>
		
		
		<h3 class="mb-2">2) Visualizza le ordinazioini</h3>
		<table class="mb-3">
			<thead>
				<tr>
					<th>ID</th>
					<th>tavolo</th>
					<th>cameriere</th>
					<th>orario</th>
					<th>birra</th>
					<th>nota</th>
				</tr>
			
			</thead>
			<tbody>
				<tr th:each="ordinazione : ${ordinazioni}">
					<td th:text="${ordinazione.id}">ID</td>
					<td th:text="${ordinazione.tavolo}">ID</td>
					<td th:text="${ordinazione.cameriere}">ID</td>
					<td th:text="${ordinazione.orario}">ID</td>
					<td>
						<table>
							<tr th:each="birra : ${ordinazione.birre}">
								<td th:text="${birra.nome}"></td>
							</tr>
						</table>
					
					</td>
					<td th:text="${ordinazione.nota}">ID</td>
				</tr>
			</tbody>
			
		</table>
		
		
		
		
		
		<!-- <h3 class="mb-3">2) visualizzazione</h3>
		<ul>
			<li th:each="ordine : ${ordini}">
			<p>Numero Id: <span th:text="${ordine.id}">id</span></p> 
			<p th:text="${ordine.birra.nome}">birre</p>
			<p th:text="${ordine.nota}">nota</p>
			<span>
				<a th:href="@{'/admin/delete/cameriere/' + ${cameriere.id}}">elimina</a>
				<a href="#">modifica</a>
			
			</span>
			
			</li>
		</ul> -->
	</div>



	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

</body>
</html>
