<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

  <!-- navbar -->
  <header th:fragment="menu">
    <nav>
      <ul>
        <li><a class="p-1" th:href="@{/index}">home</a></li>
        <li><a class="p-1" th:href="@{/birre}">Birre</a></li>
        <li><a class="p-1" th:href="@{/register}">Registrazione</a></li>
        <li style="float:right"><a class="p-1" th:href="@{/login}">login</a></li>
      </ul>
    </nav>
  </header>


  <!-- footer -->
  <footer th:fragment="fondo(home)">
    <div class="col-100">
      <div class="row">
        <div class="col-50">
          <a th:href="@{/index}">home</a>
          <a th:href="@{/index}">chi siamo</a>
        </div>
        <div class="col-50">
          <a th:href="@{/index}">home</a>
          <a th:href="@{/index}">chi siamo</a>
        </div>
        <div class="col-100">
          <p>Grazie per essere passati nella nostra birreria</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
