<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:fragment="headerfiles(title)">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" th:href="@{/css/fonts.css}" >
		<link rel="stylesheet" th:href="@{/css/style.css}" >
		<title th:text="${title}"></title>
	</head>
	
	<body>

		<!-- inizio MENU -->
		<nav th:fragment="menu">
			<div class="container">
				<ul>
					<li><a class="p-1" th:href="@{/index}">home</a></li>
					<li><a class="p-1" th:href="@{/birre}">Birre</a></li>
					<li><a class="p-1" th:href="@{/register}">Registrazione</a></li>
					<li><a class="p-1" th:href="@{/login}">login</a></li>
				</ul>
			</div>
		</nav>
		<!-- fine MENU -->

		<!-- footer -->
		<footer th:fragment="footer">
			<div class="container">
				<div class="row">
					<div class="col-100">
						<ul>
							<li class="p-1"><a href="index.html" th:href="@{/index}">home</a></li>
							<li class="p-1"><a href="#">chi siamo</a></li>
						</ul>
					</div>
				</div>
				<!-- 
				<div class="row cover" th:style="background: url{[[@{/img/birre/birra-classica.png}]]};"></div>
				 -->
				
			</div>
		</footer>
		
	</body>

</html>
