<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>

<body>

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->
	
  <a href="#">gestisci Pagamenti</a>
  <a href="#">gestisci Camerieri</a>
  <a href="#">gestisci Tavoli</a>
  <a href="#">gestisci Birre</a>
  <a href="#">gestisci Sale</a>

	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
	<!-- fine FOOTER -->
	
</body>
</html>
