<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Birre</title>
  <link rel="stylesheet" href="style.css">

</head>
<body class="birre">
  <div class="container">
    <div class="row">

      <div class="col-50">
        <a href="">Birra 1</a></div>
      <div class="col-50"><a href="">Birra 2</a></div>
      <div class="col-50"><a href="">Birra 3</a></div>
    </div>
  </div>

  <div class="container"><p>per saperne di più sulle nostre birre chiedere ai nostri camerieri.</p></div>



</body>
</html>
