<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>
<header class="top"></header>
<body class="birra">

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->
	
	<!-- <div class="col-50">
		<a href=""><img src="birra1.png" alt=""></a>
	</div> -->
	<div class="col-50">
<!-- 		<img class="my-4" th:src="@{'/img/birre/' + ${birra.immagine}}" width="100%" height="350">
 -->	<ul>
			<li>nome: <strong th:text="${birra.nome}">birra1 </strong></li>
			<li>birrificio: <strong th:text="${birra.birrificio}">birrificio</strong></li>
			<li>colore: <strong th:text="${birra.colore}">colore </strong></li>
		</ul> 

	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
		eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
		minim veniam, quis nostrud exercitation ullamco laboris nisi ut
		aliquip ex ea commodo consequat. Duis aute irure dolor in
		reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
		pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
		culpa qui officia deserunt mollit anim id est laborum.</p>

	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->

</body>
</html>
