<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='birre')"></head>

<body class="birre">

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->

	<div class="container">
		<div class="row">

			<div class="col-50">
				<a th:href="@{/birra/}">Birra 1</a>
			</div>
			<div class="col-50">
				<a th:href="@{/birra/}">Birra 2</a>
			</div>
			<div class="col-50">
				<a th:href="@{/birra/}">Birra 3</a>
			</div>
		</div>
	</div>

	<div class="container">
		<p>per saperne di più sulle nostre birre chiedere ai nostri
			camerieri.</p>
	</div>
	
	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: fondo(home='/')"></footer>
	<!-- fine FOOTER -->


</body>
</html>