<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base.html :: headerfiles(title='Homepage')"></head>

<body class="ordini">

	<!-- Inizio MENU -->
	<nav th:replace="fragments/base.html :: menu"></nav>
	<!-- fine MENU -->

	<div class="container">
		<div class="col-30" class>
			<a href="">Nuova ordinazione</a>
		</div>
		<div class="col-30">
			<a href="">Modifica/aggiungi ordinazione</a>
		</div>
		<div class="col-30">
			<a href="">Elimina ordinazione</a>
		</div>
	</div>

	<!-- inizio FOOTER -->
	<footer th:replace="fragments/base.html :: footer"></footer>
	<!-- fine FOOTER -->
</body>
</html>
